<!DOCTYPE html>
<html>
<head>
	<title>Slippy's Joy List</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet.css">
	<meta name="viewport" content="width=420">
</head>
<body>
<h1>The Joy List</h1>
<ul>
{{#each items}}
	<li>{{this}}</li>
{{/each}}
</ul>
</body>
</html>
